@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@theme {
  --font-sans: "Franklin Gothic Medium", "ITC Franklin Gothic", "Arial Narrow", Arial, sans-serif;
}

@layer base {
  body {
    @apply bg-white text-slate-900 overflow-x-hidden font-sans;
  }
  .dark body {
    @apply bg-[#0a192f];
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@keyframes scan {
  0% { top: 0; }
  50% { top: 100%; }
  100% { top: 0; }
}
